services:
  mongodb:
    image: mongo:latest
    container_name: learning-nosql-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:latest
    container_name: learning-redis
    command: redis-server --requirepass ${DB_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
     - redis_data:/data
volumes:
  mongo_data:
  redis_data: